<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home.diplom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".other.Main2Activity" />
        <activity
            android:name=".view.NoteActivity.MainActivity"
            android:label="@string/title_activity_main22"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SplashScreen.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ReminderActivity.ReminderActivity" />

        <provider
            android:name=".presenter.provider.NotesProvider"
            android:authorities="com.example.home.diplom.notesprovider"
            android:exported="false" />

        <activity
            android:name=".view.NoteActivity.NewNoteActivity"
            android:label="New Note"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.home.diplom.view.NoteActivity.MainActivity" />
        </activity>
    </application>

</manifest>